*{
  margin: 0px;
  padding: 0px;
}
lu{
  list-style: none;
}
a{
  text-decoration: none;
}
.main{
  width: 1500px;
  height: 1500px;
  background-color: rgb(166, 243, 243);
  /* background-image: url(); */
  background-repeat: no-repeat;
  /* background-size: 1500px; */
  background-position: fixed;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600px;
  letter-spacing: 2px;
  position: fixed;
  top: 500px;
  letter-spacing: 0px;
  width: 100%;
}
li{
  display: flex;
}